.reviews {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;

}

.reviews-header {
  margin: auto;
  width: 50%;
  color: darkgrey;

}

.reviews-box {
  margin-top: 70px;
}

.review-rating {
  width: 60px;
}

.review-description {
  width: 300px;
}

.spacer {
  margin-top: 100px;
}
